/*@import url("/css/style-header.css");
@import url("/css/style-main.css");
@import url("/css/style-footer.css");
@import url("/css/style-media.css");
@import url("");
@import url("");*/

* {
    box-sizing: border-box;
    font-family: 'Roboto', Arial, sans-serif;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;
    background-color: #fcf2f2;
}

header {
    overflow: hidden;
    width: 100%;
}

main {
    padding: 20px;
    margin: auto;
    max-width: 1200px;
}

footer {
    display: flex;
    justify-content: center;
    padding: 10px 5px;
    background: rgba(44, 44, 44, 1);
    position: relative;
    width: 100%;
}