.principal {
    max-width: 1200px;
    background-color: #a4c47e;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
    border-radius: 10px;
}

.contenido {
    display: flex;
    align-items: center;
    height: 300px;
    position: relative;
}

.contenido h2 {
    font-size: 2em;
    text-align: center;
    flex: 1;
    white-space: nowrap;
    color: #4d4d33;
}

.contenido:hover h2 {
    margin-left: 100px;
}

.contenido:hover .descripcion {
    display: block;
}

.descripcion {
    display: none;
    color: #4d4d33;
}

.descripcion p {
    font-size: 1.1em;
    line-height: 1.3;
    text-align: justify;
    margin: 0 80px;
    margin-left: 150px;
}

.nueva-reseña {
    flex: 1;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15);
    margin-top: 20px;
}

.nueva-reseña h2 {
    font-size: 1.5em;
    margin-bottom: 15px;
    text-align: center;
    margin-top: 15px;
    color: #4d4d33;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form button {
    background-color: #FFD700;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

label {
    font-size: 1em;
    color: #4d4d33;
}

input[type="text"],
input[type="file"],
input[type="email"],
textarea {
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 10px;
    font-size: 1em;
    color: #000000;
}

textarea {
    resize: vertical;
}

button[type="submit"] {
    background-color: #a4c47e;
    padding: 10px 20px;
    font-size: 1.1em;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: #4d4d33;
}

button[type="submit"]:hover {
    background-color: #8aae65;
}























.contenedor-frutas:hover .expan:not(:hover) {
    opacity: 0.5;
}